<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <link rel="stylesheet" href="/style.css">

    <title>Vinci ParkManager</title>
    <meta name="description" content="Nodejs/MySQL API with MVC architecture (Parking Management web app)">
    <meta name="author" content="Joaquim Dimitrov">
</head>
<body>

    <nav>
        <h4>ParkManager Corp</h4>
        <ul>
            <li><a class="mr-5 currentpage" href="/admin/panel">⚙️Admin Panel</a></li>
            <li><a href="/">Accueil</a></li>
            <li><a href="/profile">Profile</a></li>
            <li><a class="bg-secondary rounded ml-3" href="/auth/logout">Logout</a></li>
        </ul>
    </nav>

    <div class="container mt-4 text-white">
        <h1>🛠<u>PANEL ADMINISTRATEUR :</u></h1>
        
        <form action="/admin/place/create" method="POST">

            <div class="form-group w-50">
                <label for="etage">Etage</label>
                <input type="number" class="form-control" id="etage" name="etage" required="true" min="-3" max="2" placeholder="-3 à 2">
            </div>

            <button type="submit" class="btn btn-primary">Ajouter</button>

        </form>

        <h4>Nombre de places de parking : {{placesNumber}}</h4>
        <h4>Nombre de places occupées : {{takenPlacesNumber}}</h4>
        <h4>Nombre de places dispo : {{availablePlacesNumber}}</h4>
        <h4>Taux d'occupation : {{occupancyRate}} %</h4>

        <ul class="list-group my-4">
            {{#each places}}
                <li class="list-group-item text-body">
                    numéro:{{this.id}} etage:{{this.etage}}
                    {{#if taken}}
                        <p class="d-inline-block alert-dark m-0">occupée</p>
                    {{else}}
                        <p class="d-inline-block alert-success m-0">libre</p>
                    {{/if}}
                    <a class="alert-danger" href="/admin/place/delete/{{this.id}}">❌</a>
                </li>
            {{/each}}
        </ul>
    </div>

    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
</body>
</html>