<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <link rel="stylesheet" href="/style.css">
    
    <title>Vinci ParkManager</title>
    <meta name="description" content="Nodejs/MySQL API with MVC architecture (Parking Management web app)">
    <meta name="author" content="Joaquim Dimitrov">
    {{!-- <link rel="icon" href="/favicon.ico"> --}}
</head>
<body>

    <nav>
        <h4>ParkManager Corp</h4>
        <ul>
            {{#if user}}
            {{!-- la condition permet "d'afficher" les données que si on est connecté mais j'empêche tout de même "d'envoyer" ces data lors du render si on est pas connecté cf. pages.js --}}
                {{#ifeq user.role "ADMIN"}}
                    <li><a class="mr-5" href="/admin/panel">⚙️Admin Panel</a></li>
                {{/ifeq}}
                <li><a class="currentpage" href="#">Accueil</a></li>
                <li><a href="/profile">Profile</a></li>
                <li><a class="bg-secondary rounded ml-3" href="/auth/logout">Logout</a></li>
            {{else}}
                <li><a class="currentpage" href="#">Accueil</a></li>
                <li><a href="/login">Login</a></li>
                <li><a href="/register">Register</a></li>
            {{/if}}
        </ul>
    </nav>

    {{#if user}}
        <div class="container mt-5">
            <h2 class="text-white">AFFICHAGE DU PARKING : recherche des places disponibles et des places qui nous sont attribuées</h2>
             <h4 class="text-white">Nombre de places de parking : {{placesNumber}}</h4>
             <h4 class="text-white">Nombre de places dispo : {{availablePlacesNumber}}</h4>
            {{#each places}}
                <li class="list-group-item text-body">
                    numéro:{{this.id}} etage:{{this.etage}}
                    {{#if taken}}
                        <p class="d-inline-block alert-dark m-0">occupée</p>
                    {{else}}
                        <p class="d-inline-block alert-success m-0">libre</p>
                    {{/if}}
                </li>
            {{/each}}
        </div>
    {{else}}
        <div class="container mt-5">
            <div class="jumbotron">
                <h1 class="display-4">Vinci ParkManager</h1>
                <p class="lead">Nous vous permettons de savoir quelles sont les places disponibles dans notre parking.<br/>Grâce à cet outil en ligne vous pourrez gagner du temps de navigation !</p>
                <hr class="my-4">
                <p>Connectez-vous pour accéder au système et trouver un stationnement.</p>
                <a class="btn btn-primary btn-lg" href="/login" role="button">Login</a>

                <div class="card text-center border-0 mt-4 mb-2">
                    <div class="card-footer text-muted position-absolute border-0 w-100">
                        Node MySQL Project : <a href="https://github.com/JoaquimDmt/Node-MySQL-ParkManager" target="_blank">voir sur github</a>
                    </div>
                </div>
            </div>
        </div>
    {{/if}}

    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
</body>
</html>