<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <link rel="stylesheet" href="/style.css">
    
    <title>Vinci ParkManager</title>
    <meta name="description" content="Nodejs/MySQL API with MVC architecture (Parking Management web app)">
    <meta name="author" content="Joaquim Dimitrov">
</head>
<body>

    <nav>
        <h4>ParkManager Corp</h4>
        <ul>
            {{#ifeq user.role "ADMIN"}}
                <li><a class="mr-5" href="/admin/panel">⚙️Admin Panel</a></li>
            {{/ifeq}}
            <li><a href="/parking">Parking</a></li>
            <li><a class="currentpage" href="#">Profile</a></li>
            <li><a class="bg-secondary rounded ml-3" href="/auth/logout">Logout</a></li>
        </ul>
    </nav>

    <div class="container mt-4">
        <div class="row">

            <div class="col-4">
                <div class="card">
                    <div class="avatar-ctn">
                        <img src="/avatar.png" class="avatar" alt="avatar">
                    </div>
                    <div class="card-body">
                        <h5 class="car-title">{{user.nom}}</h5>
                        <p class="card-text">Compte utilisateur {{user.role}}</p>
                        <a href="#" class="btn btn-primary">joaquim-dimitrov.com</a>
                    </div>
                </div>
            </div>

            <div class="col-8">
                <div class="card text-center">
                    <div class="card-header">
                        Profile page
                    </div>
                    <div class="card-body">
                        <form action="/profile/update-name" method="POST">
                            <p class="card-text">
                                <u>Nom d'utilisateur</u> :
                                <input id="currentName" name="currentName" type="hidden" value="{{user.nom}}">
                                <input value="{{user.nom}}" type="text" class="form-control mail-change" id="newName" name="newName" required="true">
                                <input id="userId" name="userId" type="hidden" value={{user.id}}>
                                <button type="submit" class="btn btn-primary align-top">Modifier</button>
                            </p>
                        </form>
                        <br/>
                        <form action="/profile/update-email" method="POST">
                            <p class="card-text">
                                <u>Adresse Email</u> :
                                <input id="currentEmail" name="currentEmail" type="hidden" value={{user.email}}>
                                <input value={{user.email}} type="email" class="form-control mail-change" id="newEmail" name="newEmail" required="true">
                                <input id="userId" name="userId" type="hidden" value={{user.id}}>
                                <button type="submit" class="btn btn-primary align-top">Modifier</button>
                            </p>
                            {{#if message}}
                                <h6 class="alert {{message_color}} mt-4">
                                    {{message}}
                                </h6>
                            {{/if}}
                        </form>
                    </div>
                    <div class="card-footer text-muted">
                        Supprimer mon compte : <a href="/profile/delete/confirmation" class="text-danger">supprimer</a>
                    </div>
                </div>
            </div>

        </div>
    </div>

    {{#if deleteConfirmation}}
        <div class="modal-background"></div>
        <div class="alert alert-danger absolute-center">
            <h3>{{deleteConfirmation}}</h3>
            <div class="text-center mt-3 mb-2"><a class="m-5 text-danger" href="/profile/delete/{{user.id}}">Supprimer</a><a class="m-5" href="/profile">Annuler</a></div>
        </div>
    {{/if}}

    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
</body>
</html>